<footer class="row">
    <small>
        <div>
            <b>
                <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-by-sa</a>Wikimaps Team</b>
        </div>
        <a href="https://github.com/planemad/wikimaps-atlas">Contribute code</a>.
        <a href="https://github.com/planemad/wikimaps-atlas/issues">Report an issue</a>
    </small>

</footer>


<script src="{{ relative }}static/bower_components/foundation/js/foundation.min.js"></script>
<script src="{{ relative }}static/bower_components/d3/d3.min.js"></script>
<script src="{{ relative }}static/bower_components/topojson/topojson.js"></script>

<script>
    jQuery(document).foundation();
</script>
</body>

</html>
