<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- Relative path calculator -->
    {% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}
     
    <link rel="stylesheet" href="{{ site.baseurl }}/static/bower_components/foundation/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/bower_components/foundation/css/foundation.css">
    <link rel="import" href="{{ site.baseurl }}/static/bower_components/core-elements/core-elements.html">
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
    <script src="{{ site.baseurl }}/static/bower_components/modernizr/modernizr.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/static/foundation-icons/foundation-icons.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        window.jQuery || document.write('<script src="{{ site.baseurl }}/static/bower_components/jquery/dist/jquery.min.js"><\/script>')
    </script>
    
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header>
<div class="contain-to-grid">
        <!-- Foundation Top Bar -->
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="{{ site.baseurl }}/">Wikimaps:<b>Atlas</b></a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#">Menu</a>
                </li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li>
                        <a href="https://twitter.com/WikiAtlas"><i class="fi-social-twitter"></i></a>
                        
                    </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li>
                        <a href="{{ site.baseurl }}/atlas">Beta</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/wikimaps.atlas.js">JS</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/project">Project</a>
                    </li>
                    <li>
                        <a  href="https://meta.wikimedia.org/wiki/Grants:IEG/Wikimaps_Atlas/Timelines">Progress</a>
                    </li>
                    <li>
                        <a  href="{{ site.baseurl }}/sources">Sources</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/blog">Blog</a>
                    </li>
                </ul>
            </section>
        </nav>
        </div>
    </header>
