article{
    margin-top: 2rem!important;
}    

body>footer{
    margin-top: 2rem!important;
    border-top: 1px dotted grey;
    padding-top: 0.5rem!important;
    color:#777;
}
body>footer a{
    color: #666;
}

h1{
    line-height: 0.8;
    margin: 2rem 0 1rem;
}

header nav i{
    font-size: 200%;
    float:left;
}