/* #map svg {
  cursor: move;
} */
path {
  fill: none;
  stroke: #000;
}
.background {
  stroke: none;
  fill: #eef;
}
.land {
  stroke-width: .75px;
  pointer-events: all;
}
.graticule {
  stroke: #333;
  stroke-width: .25px;
}
.bounds {
  fill: #94BF8B;
  fill-opacity: .25;
  stroke: #000;
  stroke-width: 0.2px;
  pointer-events: none;
}
.country:hover .bounds {
  stroke-width: 1px;
}
.country:hover .land {
    fill: orange;
}
.outline {
  stroke: #000;
  stroke-width: 1.5px;
  fill: none;
}
.antimeridian {
  stroke-dasharray: 5 5;
}

.example path.Polygon {
  fill: url(#hatch);
}
.example text {
  font-size: 11px;
  font-family: sans-serif;
}